<mat-nav-list>
  <a *ngIf="!(isAuth$ | async)" mat-list-item routerLink="/signup" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Sign Up</span>
  </a>
  <a *ngIf="!(isAuth$ | async)" mat-list-item routerLink="/login" (click)="onClose()">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a *ngIf="(isAuth$ | async)" mat-list-item routerLink="/training" (click)="onClose()">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
  <!-- Used to show anything other than anchor tag -->
  <mat-list-item *ngIf="(isAuth$ | async)" (click)="onLogout()">
    <button mat-icon-button>
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
  <a mat-list-item routerLink="/about" (click)="onClose()">
    <mat-icon>sentiment_very_satisfied</mat-icon>
    <span class="nav-caption">About me</span>
  </a>
</mat-nav-list>