a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active, 
li:hover {
  color: lightgray;
  cursor: pointer;
}

.navigation-items {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.nav-caption {
  padding-left: 10px;
}

.example-spacer {
  flex: 1 1 auto;
}
