<mat-sidenav-container>
  <mat-sidenav [opened]="openSideNav" #sideNav role="navigation">Start</mat-sidenav>
  <mat-sidenav-content>
    <p>
      <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" (click)="sideNav.toggle()"
          aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Fitness Tracker</span>
        <span class="example-spacer"></span>
        <div>
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li><a routerLink="/signup">Sign Up</a></li>
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/training">Training</a></li>
          </ul>

        </div>
      </mat-toolbar>
    </p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>